<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../fonts/fontawesome-free-6.4.2-web/css/all.min.css">
    <script src="../js/bootstrap.min.js"></script>
    <title>Fance Water - Login</title>
</head>
<body>
    <div id="main">
        <header id="header">
            <div class="d-flex justify-content-between  mb-3">
                <div class="p-2">
                    <ul class="nav header-ul">
                        <li class="nav-item">
                          <a class="nav-link text-dark" href="#">Logo</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-dark" href="#">Liên hệ</a>
                        </li>
                    </ul>
                </div>
                <div class="p-2">
                    <ul class="nav header-ul">
                        <li class="nav-item">
                          <a class="nav-link text-dark" href="#">Đăng ký</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        
        <div class="container-full">
            <div class="ctn-donhang">
                <table class="table">
                    <thead class="table-success">
                        <tr>
                        <th style="width: 10%;">Mã đơn</th>
                        <th style="width: 20%;">Khách hàng</th>
                        <th style="width: 20%;">Địa chỉ</th>
                        <th style="width: 10%;">Tổng tiền</th>
                        <th style="width: 10%;">Ghi chú</th>
                        <th style="width: 10%;">Thời gian </th>
                        <th style="width: 10%;">Trạng thái</th>
                        <th style="width: 10%;">Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td style="width: 10%;">1</td>
                        <td style="width: 20%;">Nguyễn Thế Quang, 0971625535</td>
                        <td style="width: 20%;">Dương lôi - Tân Hồng -Từ Sơn - Bắc Ninh</td>
                        <td style="width: 10%;">150000 VND</td>
                        <td style="width: 10%;">Thêm ít giấy</td>
                        <td style="width: 10%;">20/9/2024 15:30</td>
                        <td style="width: 10%;">Đang giao</td>
                        <td style="width: 10%;">
                            <a class="button_a" href="">
                                <button type="button" class="btn btn-success">Chi tiết</button>
                            </a>
                        </td>
                        </tr>
                    </tbody>
                </table>
           </div>
        </div>
    
        <footer id="footer">
    
        </footer>
    </div>
</body>
</html>