<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Quản lý nhà hàng</title>
</head>
<body>
    <div class="container-full">
        <div class="row" style="max-width: 100%;">
            <div class="col-2 admin-boxleft" style="min-height: 100vh;">
                <div class="admin-boxleft-heading">
                    <span>Nguyễn Thế Quang</span>
                    <a href="#">Thoát</a>
                </div>
                <div class="admin-boxleft-body">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link" href="#">danh mục sản phẩm</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">danh mục tài khoản</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">quản lý sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">quản lý tài khoản</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">quản lý hóa đơn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">quản lý nhân viên</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">quản lý hóa đơn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">quản lý doanh thu</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-10 admin-boxright" style="min-height: 100vh;">
                <div class="admin-boxright-heading">

                </div>
                <div class="admin-boxright-body pt-4">
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Mã danh mục</th>
                            <th>Tên danh mục</th>
                            <th>Chức năng</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>Đồ uống</td>
                            <td>
                                <button type="button" class="btn btn-success">Sửa</button>
                                <button type="button" class="btn btn-success">Xóa</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>