<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../fonts/fontawesome-free-6.4.2-web/css/all.min.css">
    <script src="../js/bootstrap.min.js"></script>
    <title>Fance Water</title>
</head>
<body>
    <div id="main">
        <header id="header">
            <div class="d-flex justify-content-between  mb-3">
                <div class="p-2">
                    <ul class="nav header-ul">
                        <li class="nav-item">
                          <a class="nav-link text-dark" href="#">Logo</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-dark" href="#">Liên hệ</a>
                        </li>
                    </ul>
                </div>
                <div class="p-2">
                    <ul class="nav header-ul">
                        <li class="nav-item">
                          <a class="nav-link text-dark" href="#">Đăng nhập</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-dark" href="#">Đăng ký</a>
                        </li>
                    </ul>
                    <!-- <div class="header-info">
                        <i class="fa-solid fa-bars"></i>
                        <div class="header-info-chlid">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#">Nguyễn Thế Quang</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#">Giỏ hàng</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#">Đơn hàng</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#">Cài đặt</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#">Đăng xuất</a>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
        </header>
        
        <div class="container-full">
            <div class="row pt-3 prd-detail" style="width: 1000px; margin: 0 auto;">
                <div class="col-6 prd-detail-l">
                    <div class="">
                        <img src="/upload/coca.jpg" alt="">
                    </div>
                </div>
                <div class="col-6 prd-detail-r">
                    <form action="" method="post">
                        <div class=""><p class="h6">Tên sản phẩm:</p>CocaCola</div>
                        <div class="pt-3">Giá tiền: <br> 15000 VND</div>
                        <div class="pt-3">Mô tả: <br> Nước uống có gas</div>
                        <div class="pt-3 pb-3">
                            <label for="" class="form-label h6">Số lượng: </label>
                            <input type="number" class="form-control" placeholder="Nhập số lượng" min="1">
                        </div>

                        <input type="submit" class="input_primary mt-3" value="Đặt hàng">
                    </form>
                </div>
            </div>
        </div>
    
        <footer id="footer">
    
        </footer>
    </div>
</body>
</html>