#main {
    max-width: 1300px;
    margin: 0 auto;
}

:root {
    --color-black: #000;
    --color-text: #333; 
    --color-white: #fff;
    --color-primary: #04aa6d;
    --color-F8: #f0643d;
}

button {
    min-width: 80px;
}

.button_a {
    color: #fff;
    text-decoration: none;
}

input:hover {
    opacity: 0.9;
}

/* Admin */
.input_primary {
    min-width: 80px;
    color: #fff;
    background-color: rgb(66, 108, 232);
    border: none;
    border-radius: 3px;
    padding: 4px 10px;
}

.admin-boxleft {
    background-color: rgb(250, 240, 230);
}

.admin-boxleft-heading {
    padding: 20px 0 20px 15px;
}

.admin-boxleft-heading span {
    display: block;
    font-weight: 550;
    margin-bottom: 15px;
}

.admin-boxleft-heading a {
    display: block;
    text-decoration: none;
}

.admin-boxleft-body ul li a {
    font-size: 15px;
    font-weight: 550;
    text-transform: uppercase;
}

/* Người dùng */
.header-ul li a {
    font-size: 18px;
}

.header-info {
    position: relative;
}

.header-info-chlid {
    z-index: 999;
    display: none;
    position: absolute;
    min-width: 180px;
    right: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    background-color: var(--color-white);
}

.header-info:hover .header-info-chlid {
    display: block;
}

.header-info i {
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
}

.header-info-chlid li:hover {
    background-color: rgb(116 192 252);
}

.header-info-chlid li:first-child:hover {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.header-info-chlid li:last-child:hover {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.header-info-chlid a {
    font-size: 16px;
}

.container__left {
    margin: 0 8px; 
}

.container__left label {
    font-weight: 550;
}

.container__left-headeing button {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.container__left-body ul li a,
.container__rgiht-heading ul li a {
    font-size: 16px;
    color: var(--color-text);
    padding-left: 0;
}

.container__rgiht-heading ul li {
    margin-right: 10px;
}

.container__rgiht-heading  i {
    padding-left: 6px;
}

.container__rgiht-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    aspect-ratio: 1 / 1; 
    border-radius: 2px;
}

.container__rgiht-card a {
    width: 100%;
    border: none;
    background-color: var(--color-primary);
}

/* Đăng nhập - Đăng ký */
.ctn-login,
.ctn-register {
    margin: 0 auto;
    max-width: 700px;
}

.ctn-login {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ctn-login-l img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    aspect-ratio: 1 / 1.5; 
    border-radius: 2px;
}

.ctn-login-r a {
    font-size: 14px;
    font-weight: 550;
    color: var(--color-F8);
}

.prd-detail-l img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    aspect-ratio: 1 / 1; 
}

.prd-detail-r .input_primary {
    min-width: 30%;
    background-color: var(--color-primary);
}

.ctn-cart {
    width: 1000px; margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ctn-cart .input_primary {
    width: 15%;
    background-color: var(--color-primary);
    padding: 6px 0;
}